
.cancelButton {
  position: absolute;
  right: 0;
  background-color: transparent;
  color: #a80000;
  border: none;
  padding: 0;
  min-width: auto;
  height: auto;
  line-height: inherit;
  &__extended{
    top: 0;
  }
  &__simple{
    top: 12px;
  }
}
.memberContainer {
  margin: 10px; /* Add margin bottom to create space between member items */
  position: relative;
   &__extended{
    display: inline-block;
    width: 30%;
   }
}